/*
*   CSS styling for explanation visualizations
*/

/* Light mode */
:root {
  --default-background-color: white;
  --default-text-color: black;
  --visualization-font-family: "IBM Plex Sans", "Fira Sans", "Segoe UI", sans-serif;
  --visualization-font-size: 14px;
  --visualization-token-font-size: 1.1em;
  --visualization-heading-font-size: 1.15em;
  --visualization-tooltip-font-size: 0.85em;
  --visualization-line-height: 1.5;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --default-background-color: hsl(225, 10%, 15%);
    --default-text-color: hsl(230, 10%, 85%);
  }
}

:root {
  /* Set the text color and background color depending on the current
  * vscode theme if available, or on the current light/dark mode if in 
  * a browser
  */
  --background-color: var(--vscode-editor-background,
      var(--default-background-color));
  --text-color: var(--vscode-editor-foreground, var(--default-text-color));

  --positive-color: #ff0000;
  --negative-color: #0000ff;

  /* Reversed colors  */
  --reversed-background-color: var(--text-color);
  --reversed-text-color: var(--background-color);
}

.body-visualization {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--visualization-font-family);
  font-size: var(--visualization-font-size);
  line-height: var(--visualization-line-height);
  margin: 0;
  padding: 0;
}

.body-visualization button,
.body-visualization input,
.body-visualization select,
.body-visualization textarea {
  font-family: var(--visualization-font-family);
  font-size: inherit;
}

.body-visualization h3 {
  font-size: var(--visualization-heading-font-size);
  font-weight: 600;
  margin: 0.8em 0 0.4em;
}

.body-visualization > :first-child {
  margin-top: 0;
}

.body-visualization > :first-child > h3 {
  margin-top: 0;
}

/* Style of the main element containing all the input sentences */
.line-style {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  /* line-height: 1.5em; */
  padding-left: 1em;
  margin-bottom: 0.2em;
}

/* Common style for all the words displayed (inputs, outputs, concepts) */
.common-word-style {
  font-family: var(--visualization-font-family) !important;
  font-weight: inherit;
  font-style: inherit;
  font-size: var(--visualization-token-font-size);
  padding: 0;
  margin-right: 0.2em;
  white-space: pre-wrap;
  border-radius: 0.5em;
  background-color: transparent;
  border: 0px solid transparent;
  outline: 1px solid transparent;
  color: var(--text-color);
  z-index: 0;
}

/*
* Styles of the highlighted words with attribution colors: the inputs and some of the outputs.
*/
.highlighted-word-style {
  position: relative;
  /* mandatory for the tooltip to be positioned correctly */
}

/* Highlighted words tooltips style */
.highlighted-word-style .tooltiptext {
  visibility: hidden;
  text-align: center;
  padding: 0.2em 0.45em;
  border-radius: 0.5em;
  white-space: nowrap;
  font-family: var(--visualization-font-family);
  font-size: var(--visualization-tooltip-font-size);
  line-height: 1.2;
  color: #222;
  background-color: #e6e6e6;
  /* Position of the tooltip w/r to the parent element */
  position: absolute;
  z-index: 1;
  left: 50%;
  bottom: 125%;
  transform: translateX(-50%);
}

.highlighted-word-style .tooltiptext::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 100%;
  /* Triangle at the bottom of the tooltip */
  left: 50%;
  margin-left: -0.3em;
  border-width: 0.3em;
  border-style: solid;
  border-color: #e6e6e6 transparent transparent transparent;
}

.highlighted-word-style:hover .tooltiptext {
  visibility: visible;
}

/*
* Style of the reactive/clickable elements.
*/
.reactive-word-style:hover {
  transform: scale(1.15);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

/*
* Style of the words (concepts & outputs) currently selected by the user.
*/
.selected-style {
  outline: 2px solid red !important;
}

.is-emphasized {
  font-weight: 600;
}

.is-hidden {
  display: none;
}

/*
* Style of the concepts in the concept menu.
*/
.concept-style {
  margin-right: 0.75em;
  padding-left: 0.25em;
  padding-right: 0.25em;
  outline: 2px solid transparent;
}

/*
* Style of the class buttons/labels.
*/
.class-style {
  margin-right: 0.75em;
  padding-left: 0.25em;
  padding-right: 0.25em;
  outline: 2px solid transparent;
  cursor: pointer;
}

/*
* Style for class buttons with colored backgrounds (default multi-class view)
*/
.class-style-colored-border {
  outline-width: 2px;
  outline-style: solid;
}
